/* src/components/Calendar.css */
.wall-calendar {
  --s: 55px; /* control the size */
  --b: 15px; /* control the thickness of the curved lines */
  
  --_r: calc(1.28*var(--s) + var(--b)/2) at top 50%;
  --_f: calc(99.5% - var(--b)),#F9F2E7 calc(101% - var(--b)) 99.5%,#0000 101%;
  --_g0: calc(-.8*var(--s)), #88A65E var(--_f);
  --_g1: calc(-.8*var(--s)), #BFB35A var(--_f);
  --_s: calc(1.8*var(--s) + var(--b));
  background: 
    radial-gradient(var(--_r) right var(--_g0)) calc(-1*var(--_s)) var(--s),
    radial-gradient(var(--_r) left  var(--_g1))         var(--_s)  calc(-1*var(--s)),
    radial-gradient(var(--_r) right var(--_g1)) calc(var(--_s)/-2) calc(-1*var(--s)),
    radial-gradient(var(--_r) left  var(--_g0)) calc(var(--_s)/ 2) var(--s),
    linear-gradient(90deg,#88A65E 50%,#BFB35A 0);
  background-size: var(--_s) calc(4*var(--s));
  
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.month-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  max-height: 100%;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.calendar-header, .calendar-footer {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
}

.day-of-week, .day, .month {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 5px;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.day-of-week:hover, .day:hover, .month:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 7px;
  justify-items: center;
}

.empty-day {
  width: 40px;
  height: 40px;
  margin: 5px;
}

.current-day {
  border-color: #ffa500;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
}

.current-month {
  border-color: #ffa500;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
}

.calendar-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.month {
  width: 75px; /* Adjust width to ensure consistent sizing */
  height: 40px;
  font-size: 12px;
  text-align: center;
}
