/* src/components/Flower.css */
.flower-container {
  background-color: transparent;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.sidebar {
  margin-bottom: 20px;
  text-align: center;
}

.sidebar h2 {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif; /* Modern sans-serif font */
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.sidebar h3 {
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif; /* Another modern font for dates */
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.style-dropdown {
  position: relative;
  display: inline-block;
}

.change-style-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.change-style-button:hover {
  background-color: #45a049;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
}

.dropdown-menu div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #ddd;
}

.plant-container {
  position: relative;
  height: 500px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.sidebar {
  margin-right: 20px;
}

.pot-container {
  position: absolute;
  bottom: 0;
  width: 120px; /* Adjust width to fit the pot image */
  height: 100px; /* Adjust height to fit the pot image */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align the pot to the bottom */
}

.pot-container img {
  width: 100%;
  height: auto;
}

.plant-stem {
  position: absolute;
  bottom: 19px; /* Adjust to place the stem inside the pot */
  width: 10px;
  background-color: green;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.flower-branch {
  position: absolute;
  width: 2px;
  background-color: green;
  transform-origin: bottom;
}

.flower {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: pink;
  border-radius: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff69b4;
  box-shadow: 0 0 5px #ff69b4;
}

.flower-top {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower-center {
  position: absolute;
  width: 66px;
  height: 66px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  color: black;
  z-index: 10;
}

.petal {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #eeaacc;
  box-shadow: 0 0 5px #ff69b4;
  z-index: 5;
}

.petal1 { transform: rotate(0deg) translate(50px); }
.petal2 { transform: rotate(60deg) translate(50px); }
.petal3 { transform: rotate(120deg) translate(50px); }
.petal4 { transform: rotate(180deg) translate(50px); }
.petal5 { transform: rotate(240deg) translate(50px); }
.petal6 { transform: rotate(300deg) translate(50px); }

.capture-flower {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color var(--transition-time);
  margin-top: 20px;
}

.capture-flower:hover {
  background-color: #e64a19;
}

.style-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.style-buttons select {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: 16px;
  transition: background-color var(--transition-time);
}
