/* src/components/Footer.css */
footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-color);
  z-index: 12;
}
